
{% extends 'index/ListView.html' %}
{% block list_title %} <title>Leads</title> {% endblock %}        
{% block list_table %}       
        
    <script>
      $(document).ready(function($) {
    	
    	$(".clickable-row").click(function() {
        	window.location = $(this).data("href");
        });
        
      });
    </script>

    <section>
      <div class="list_header">
        <h3 style="color: white;">Leads</h3>
         <a href="{% url 'crm:new_lead_template' %}"><button class="button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
          style="color:white;">
            Create
         </button></a>
         <button class="button btn-delete mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
         	<span class="button_label"><a href="{% url 'base:customer_new_template' %}" style="color:white;">Delete</a></span>
         </button>
       </div>
       <div>
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
      	  <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Subject</th>
                <th class="mdl-data-table__cell--non-numeric">Customer</th>
                <th class="mdl-data-table__cell--non-numeric">Stage</th>
                <th class="mdl-data-table__cell--non-numeric">Priority</th>
                <th class="mdl-data-table__cell--non-numeric">Mobile</th>
                <th class="mdl-data-table__cell--non-numeric">Sales Person</th>
            </tr>
      	  </thead>
          <tbody>
       		{% if crm_leads %}
                {% for lead in crm_leads %}
                  <tr>
                    <td class="clickable-row mdl-data-table__cell--non-numeric" data-href="{% url 'crm:lead_form_view' lead.id %}" style="color: cornflowerblue; cursor:pointer;">{{ lead.subject }}</td>
                    <td class="mdl-data-table__cell--non-numeric" style="color: cornflowerblue;">{{ lead.customer }}</td>
                    <td class="mdl-data-table__cell--non-numeric" style="color: cornflowerblue;">{{ lead.stage }}</td>
                    <td class="mdl-data-table__cell--non-numeric" style="color: cornflowerblue;">{{ lead.priority }}</td>
                    <td class="mdl-data-table__cell--non-numeric" style="color: cornflowerblue;">{{ lead.mobile }}</td>
                    <td class="mdl-data-table__cell--non-numeric" style="color: cornflowerblue;">{{ lead.sales_person }}</td>
                  </tr>
                {% endfor %}
             {% else %}
                <p>No Lead found!</p>
           {% endif %}
         </tbody>
       </table>
    </div>
  </section>

  <script>
    $(window).on("load resize ", function() {
      var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
      $('.tbl-header').css({'padding-right':scrollWidth});
    }).resize();
  </script>
        
{% endblock %}      


