{% extends 'index/FormView.html' %} 
 
 {% block form_title %}<title>{{ Lead: lead.subject }}</title>{% endblock %}
 {% block form_section %}       
    
    <div class="form-button-group">
      <button class="btn-edit mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Edit</button>
      <button class="btn-save mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="display: none">Save</button>
      <button class="btn-dlt mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"><a href="{% url 'crm:delete_lead' lead.id %}" style="color: white;text-decoration: none;">Delete</a></button>
      <button class="btn-prnt mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Print</button>
    </div>
    <div class="view-btn-group">
        <button class="list-view-button">
        	<a href="{% url 'crm:leads_list_view' %}">
        	<i class="material-icons">list</i>
        </button>
        <button class="list-view-button btn-pos">
        	<a href="{% url 'crm:lead_form_view' lead.id %}">
        	<i class="material-icons">edit</i>
        	</a>
        </button>
    </div>
      <div class="form-style-5">
      <form action="{% url 'crm:edit_lead' lead.id %}" method="post" id="form-jq">
        {% csrf_token %}
        <fieldset>
          <legend><span class="number">1</span> Lead Info</legend>
          <label for="subject">Subject *</label>
          <input type="text" name="subject" class="input-js" value="{{ lead.subject }}" placeholder="Subject" readonly="readonly"/>
          <label for="customer">Customer</label>
          <select id="customer" name="customer" placeholder="customer" disabled="disabled">
            <option value="none">Select customer</option>
            {% for customer in  customers %}
              <option value="{{ customer.id }}" {% if customer == lead.customer %} selected="selected" {% endif %}>{{ customer }}</option>
            {% endfor %}
          </select>
          <label for="stage">Stage</label>
          <select id="stage" name="stage" placeholder="Stage" disabled="disabled">
            <option value="none">Select stage</option>
            {% for value in  lead.stage %}
              <option value="{{ value }}" {% if value == lead.stage %} selected="selected" {% endif %}>{{ value }}</option>
            {% endfor %}
          </select>
          <label for="stage">Priority</label>
          <select id="priority" name="priority" placeholder="Priority" disabled="disabled">
            <option value="none">Select priority</option>
            {% for value in  lead.priority %}
              <option value="{{ value }}" {% if value == lead.priority %} selected="selected" {% endif %}>{{ value }}</option>
            {% endfor %}
          </select>
          <label for="email">Email</label>
          <input type="email" name="email" value="{{ lead.email }}" placeholder="Email" readonly="readonly" />
          <label for="mobile">Mobile</label>
          <input type="number" name="mobile" value="{{ lead.mobile }}" placeholder="Mobile" readonly="readonly"/>
          <label for="fax">Fax</label>
          <input type="text" name="fax" value="{{ lead.fax }}" placeholder="Fax" readonly="readonly" />
          <label for="street">Lane</label>
          <input type="text" name="street" value="{{ lead.street }}" placeholder="Lane" readonly="readonly" />
          <label for="street2">Street</label>
          <input type="text" name="street2" value="{{ lead.street2 }}" placeholder="Street" readonly="readonly" />
          <label for="city">City</label>
          <input type="text" name="city" value="{{ lead.city }}" placeholder="City" readonly="readonly" />
          <label for="state">State</label>
          <select id="state" name="state" placeholder="State" disabled="disabled" >
            <option value="none">Select state</option>
            {% for state in  states %}
              <option value="{{ state.id }}" {% if state == lead.state %} selected="selected" {% endif %}>{{ state }}</option>
            {% endfor %}
          </select>
          <label for="country">Country</label>
          <select id="country" name="country" placeholder="Country" disabled="disabled">
            <option value="none">Select country</option>
            {% for country in  countries %}
              <option value="{{ country.id }}" {% if country == lead.country %} selected="selected" {% endif %}>{{ country }}</option>
            {% endfor %}
          </select>
          <label for="zip">Zip</label>
          <input type="text" name="zip" value="{{ lead.zip }}" placeholder="Zip" readonly="readonly" /> 
        </fieldset>
        <fieldset>
          <legend><span class="number">2</span> Product Info</legend>
          <label for="customer_product">Product</label>
          <select id="prod" name="customer_product">
            <option value="football">Football</option>
            <option value="swimming">Swimming</option>
            <option value="fishing">Fishing</option>
            <option value="climbing">Climbing</option>
          <select>
        </fieldset>
        <fieldset>
          <legend><span class="number">3</span> Sales Info</legend>
          <label for="sales_person">Sales Person</label>
          <select id="sales_person" name="sales_person" placeholder="Sales person" disabled="disabled">
            <option value="none">Select sales person</option>
            {% for person in  sales_persons %}
              <option value="{{ person.id }}" {% if person == lead.sales_person %} selected="selected" {% endif %}>{{ person }}</option>
            {% endfor %}
          </select>
        </fieldset>
        <input type="submit" class="submit-jq mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" value="Save"/>
      </form>
    </div>

{% endblock %}



