<!doctype html>

<html lang="en">
  <head>
  	{% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>BizERP</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'index/images/favicon.png' %}"/>
    <!-- Page styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.min.css">
    <link rel="stylesheet" href="{% static 'index/css/material_design.css' %}">
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
    <style type="text/css">
    	::-webkit-scrollbar {
   			 width: 7px;
			}
		::-webkit-scrollbar-track {
   			 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		}
		::-webkit-scrollbar-thumb {
  			  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		}
    </style>
  </head>
  <body>
  	
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      <div class="erp-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row erp-nav-bar">
          <span class="erp-title mdl-layout-title">
            <img class="erp-logo-image" src="{% static 'index/images/bizlogo.png' %}">
          </span>
          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="erp-header-spacer mdl-layout-spacer"></div>
          <div class="erp-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search-field">
            </div>
          </div>
          <!-- Navigation -->
          <div class="erp-navigation-container">
            <nav class="erp-navigation mdl-navigation">
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{% url 'home' %}">Home</a>
              <button class="mdl-navigation__link mdl-typography--text-uppercase mdl-button mdl-js-button" id="crm-menu-lower">
              	CRM
              </button>
              <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="crm-menu-lower">
     			<li class="mdl-menu__item"><a href="{% url 'base:customer_list_view' %}" style="text-decoration:none;font-size:18px;">Customer</a></li>
      			<li class="mdl-menu__item"><a href="{% url 'crm:leads_list_view' %}" style="text-decoration:none;font-size:18px;">Leads</a></li>
      			<li disabled class="mdl-menu__item">Disabled Action</li>
      			<li class="mdl-menu__item">Yet Another Action</li>
    		  </ul>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Accounting</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Purchase</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Project</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Warehouse</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">HRMS</a>
              <button class="mdl-navigation__link mdl-typography--text-uppercase mdl-button mdl-js-button" id="settings-menu-lower">
              	Settings
              </button>
              <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="settings-menu-lower">
      			<li class="mdl-menu__item"><a href="{% url 'base:company_list_view' %}" style="text-decoration:none;font-size:18px;">Company</a></li>
      			<li disabled class="mdl-menu__item">Disabled Action</li>
      			<li class="mdl-menu__item">Yet Another Action</li>
    		  </ul>
            </nav>
          </div>
          <span class="erp-mobile-title mdl-layout-title">
            <img class="erp-logo-image" src="{% static 'index/images/bizlogo.png' %}">
          </span>
          <button class="erp-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
            <li class="mdl-menu__item">User</li>
            <li class="mdl-menu__item">Administrator</li>
            <li disabled class="mdl-menu__item">Developer Mode</li>
            <li class="mdl-menu__item">User Info</li>
          </ul>
        </div>
      </div>

      <div class="erp-drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
          <img class="erp-logo-image" src="{% static 'index/images/bizlogo.png' %}">
        </span>
        <nav class="mdl-navigation">
          <button class="mdl-navigation__link mdl-typography--text-uppercase mdl-button mdl-js-button" id="crm-menu-lower">
              	CRM
          </button>
          <a class="mdl-navigation__link" href="">CRM</a>
          <a class="mdl-navigation__link" href="">Tablets</a>
          <a class="mdl-navigation__link" href="">Wear</a>
          <a class="mdl-navigation__link" href="">TV</a>
          <a class="mdl-navigation__link" href="">Auto</a>
          <a class="mdl-navigation__link" href="">One</a>
          <a class="mdl-navigation__link" href="">Play</a>
          <div class="erp-drawer-separator"></div>
          <span class="mdl-navigation__link" href="">Versions</span>
          <a class="mdl-navigation__link" href="">Lollipop 5.0</a>
          <a class="mdl-navigation__link" href="">KitKat 4.4</a>
          <a class="mdl-navigation__link" href="">Jelly Bean 4.3</a>
          <a class="mdl-navigation__link" href="">Android history</a>
          <div class="erp-drawer-separator"></div>
          <span class="mdl-navigation__link" href="">Resources</span>
          <a class="mdl-navigation__link" href="">Official blog</a>
          <a class="mdl-navigation__link" href="">Android on Google+</a>
          <a class="mdl-navigation__link" href="">Android on Twitter</a>
          <div class="erp-drawer-separator"></div>
          <span class="mdl-navigation__link" href="">For developers</span>
          <a class="mdl-navigation__link" href="">App developer resources</a>
          <a class="mdl-navigation__link" href="">Android Open Source Project</a>
          <a class="mdl-navigation__link" href="">Android SDK</a>
        </nav>
      </div>

      <div class="erp-content mdl-layout__content">
        <a name="top"></a>
        <div class="erp-be-together-section mdl-typography--text-center">
          <div class="logo-font erp-sub-slogan">welcome to BizERP... be yourself. do your thing. see what's going on.</div>

          <a href="#screens">
            <button class="erp-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
              <i class="material-icons">expand_more</i>
            </button>
          </a>
        </div>
        
        <div class="erp-customized-section">
         <a href="#screens"></a>
          <div class="erp-customized-section-text">
            <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Customised by you, for you</div>
            <p class="mdl-typography--font-light">
              Put the stuff that you care about right on your ERP: the latest lead, the purchase or sales reports.
              <br>
              <a href="" class="erp-link mdl-typography--font-light">Customise your ERP</a>
            </p>
          </div>
          <div class="erp-customized-section-image"></div>
        </div>

  <!--         <div class="erp-more-section">
          <div class="erp-section-title mdl-typography--display-1-color-contrast">More from Android</div>
          <div class="erp-card-container mdl-grid">
            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="{% static 'index/images/more-from-1.png' %}">
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">Get going on Android</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">Four tips to make your switch to Android quick and easy</span>
              </div>
              <div class="mdl-card__actions">
                 <a class="erp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                   Make the switch
                   <i class="material-icons">chevron_right</i>
                 </a>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="{% static 'index/images/more-from-4.png' %}">
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">Create your own Android character</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">Turn the little green Android mascot into you, your friends, anyone!</span>
              </div>
              <div class="mdl-card__actions">
                 <a class="erp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                   androidify.com
                   <i class="material-icons">chevron_right</i>
                 </a>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="{% static 'index/images/more-from-2.png' %}">
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">Get a clean customisable home screen</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">A clean, simple, customisable home screen that comes with the power of Google Now: Traffic alerts, weather and much more, just a swipe away.</span>
              </div>
              <div class="mdl-card__actions">
                 <a class="erp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                   Download now
                   <i class="material-icons">chevron_right</i>
                 </a>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="{% static 'index/images/more-from-3.png' %}">
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">Millions to choose from</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">Hail a taxi, find a recipe, run through a temple – Google Play has all the apps and games that let you make your Android device uniquely yours.</span>
              </div>
              <div class="mdl-card__actions">
                 <a class="erp-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                   Find apps
                   <i class="material-icons">chevron_right</i>
                 </a>
              </div>
            </div>
          </div>
        </div> -->

        <footer class="erp-footer mdl-mega-footer">
          <div class="mdl-mega-footer--top-section">
        
   				 Made with Love by Akhil Mathew
  			
          </div>

          <div class="mdl-mega-footer--middle-section">
            <p class="mdl-typography--font-light">Copy right Akhil Mathew © 2017 </p>
          </div>       

        </footer>
      </div>
    </div>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </body>
</html>
