
{% extends 'index/ListView.html' %}
{% block list_title %} <title>Companies</title> {% endblock %}        

{% block list_table %}  
        
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
      $(document).ready(function($) {
    	
    	$(".clickable-row").click(function() {
        	window.location = $(this).data("href");
        });
        
      });
     </script>

    <section>
      <div class="list_header">
        <h3 style="color: white;">Companies</h3>
         <a href="{% url 'base:company_new_template' %}"><button class="button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
          style="color:white;">
            Create
         </button></a>
         <button class="button btn-delete mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
         	<span class="button_label"><a href="{% url 'base:customer_new_template' %}" style="color:white;">Delete</a></span>
         </button>
       </div>
       <div>
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
      	  <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">ID</th>
                <th class="mdl-data-table__cell--non-numeric">Name</th>
                <th class="mdl-data-table__cell--non-numeric">Mobile</th>
                <th class="mdl-data-table__cell--non-numeric">Email</th>
                <th class="mdl-data-table__cell--non-numeric">Phone</th>
                <th class="mdl-data-table__cell--non-numeric">City</th>
            </tr>
      	  </thead>
          <tbody>
       		{% if company_list %}
                {% for company in company_list %}
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric" style="color: cornflowerblue;">{{ company.id }}</td>
                    <td class="clickable-row mdl-data-table__cell--non-numeric" data-href="{% url 'base:company_form_view' company.id %}" style="color: cornflowerblue; cursor: pointer;">{{ company.name }}</td>
                    <td class="mdl-data-table__cell--non-numeric" style="color: cornflowerblue;">{{ company.mobile }}</td>
                    <td class="mdl-data-table__cell--non-numeric" style="color: cornflowerblue;">{{ company.email }}</td>
                    <td class="mdl-data-table__cell--non-numeric" style="color: cornflowerblue;">{{ company.mobile }}</td>
                    <td class="mdl-data-table__cell--non-numeric" style="color: cornflowerblue;">{{ company.city }}</td>
                  </tr>
                {% endfor %}
             {% else %}
                <tr>
                  <td>
                    <p>No Company found!</p>
                  </td>
                </tr>
             {% endif %}
         </tbody>
       </table>
    </div>
  </section>

  <script>
    $(window).on("load resize ", function() {
      var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
      $('.tbl-header').css({'padding-right':scrollWidth});
    }).resize();
  </script>
        
{% endblock %}

