{% extends 'index/FormView.html' %} 

 {% block form_title %}<title>{{ Company: company_obj.name }}</title>{% endblock %}
 {% block form_section %}     	
        	
   <div class="form-button-group">
      <button class="btn-edit mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Edit</button>
      <button class="btn-save mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="display: none">Save</button>
      <a href="{% url 'base:delete_company' company_obj.id %}" style="color: white;text-decoration: none;"><button class="btn-dlt mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Delete</button></a>
      <button class="btn-prnt mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Print</button>
    </div>
    <div class="view-btn-group">
        <button class="list-view-button">
        	<a href="{% url 'base:company_list_view' %}">
        	<i class="material-icons">list</i>
        </button>
        <button class="list-view-button btn-pos">
        	<a href="{% url 'base:company_form_view' company_obj.id %}">
        	<i class="material-icons">edit</i>
        	</a>
        </button>
    </div>
    <div class="form-style-5">
      <form action="{% url 'base:edit_company' company_obj.id %}" method="post" id="form-jq">
        {% csrf_token %}
        <fieldset>
          <legend><span class="number">1</span> Company Info</legend>
          <label for="company_name">Name *</label>
          <input class="input-field" type="text" name="company_name" class="input-js" value="{{ company_obj.name }}" placeholder="Name *" readonly="readonly"/>
          <label for="company_email">Email</label>
          <input type="email" name="company_email" value="{{ company_obj.email }}" placeholder="Email" readonly="readonly" />
          <label for="company_phone">Phone</label>
          <input type="number" name="company_phone" value="{{ company_obj.phone }}"  placeholder="Phone" readonly="readonly"/>
          <label for="company_mobile">Mobile</label>
          <input type="number" name="company_mobile" value="{{ company_obj.mobile }}" placeholder="Mobile" readonly="readonly"/>
          <label for="company_street">Lane</label>
          <input type="text" name="company_street" value="{{ company_obj.street }}" placeholder="Lane" readonly="readonly" />
          <label for="company_street2">Street</label>
          <input type="text" name="company_street2" value="{{ company_obj.street2 }}" placeholder="Street" readonly="readonly" />
          <label for="company_city">City</label>
          <input type="text" name="company_city" value="{{ company_obj.city }}" placeholder="City" readonly="readonly" />
          <label for="company_state">State</label>
          <select id="state" name="company_state" placeholder="State" disabled="disabled" >
            <option value="none">Select state</option>
            {% for state in  states %}
              <option value="{{ state.id }}" {% if state == company_obj.state %} selected="selected" {% endif %}>{{ state }}</option>
            {% endfor %}
          </select>
          <label for="company_country">Country</label>
          <select id="country" name="company_country" placeholder="Country" disabled="disabled">
            <option value="none">Select country</option>
            {% for country in  countries %}
              <option value="{{ country.id }}" {% if country == company_obj.country %} selected="selected" {% endif %}>{{ country }}</option>
            {% endfor %}
          </select>
        </fieldset>
        <fieldset>
            <legend><span class="number">2</span>Additional Info</legend>
			<label for="company_note">Note</label>
            <textarea name="company_note" placeholder="About company">{{ company_obj.note }}</textarea>
        </fieldset>
        <input type="submit" class="submit-jq mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" value="Save"/>
      </form>
    </div>

 {% endblock %}