
{% extends 'index/ListView.html' %}
{% block list_title %} <title>Customers</title> {% endblock %}        
{% block list_table %}      
   	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
    	
    	$(".clickable-row").click(function() {
        	window.location = $(this).data("href");
        });
    	
    	$('.mdl-checkbox__input').change(function() {
    		debugger;
    		alert('Clicked');
    		$('.button.btn-delete').show();
    	});
        
      });
    </script>

    <section>
      <div class="list_header">
        <h3 style="color: white;">Customers</h3>
         <a href="{% url 'base:customer_new_template' %}"><button class="button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
          style="color:white;">
            Create
         </button></a>
         <button class="button btn-delete mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
         	<span class="button_label"><a href="{% url 'base:customer_new_template' %}" style="color:white;">Delete</a></span>
         </button>
       </div>
       <div>
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
      	  <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">ID</th>
                <th class="mdl-data-table__cell--non-numeric">Name</th>
                <th class="mdl-data-table__cell--non-numeric">Mobile</th>
                <th class="mdl-data-table__cell--non-numeric">Email</th>
                <th class="mdl-data-table__cell--non-numeric">City</th>
            </tr>
      	  </thead>
          <tbody>
       		{% if customer_list %}
                {% for customer in customer_list %}
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric" style="color: cornflowerblue;">{{ customer.id }}</td>
                    <td class="clickable-row mdl-data-table__cell--non-numeric" data-href="{% url 'base:customer_form_view' customer.id %}" style="color: cornflowerblue; cursor: pointer;">{{ customer.name }}</td>
                    <td class="mdl-data-table__cell--non-numeric" style="color: cornflowerblue;">{{ customer.mobile }}</td>
                    <td class="mdl-data-table__cell--non-numeric" style="color: cornflowerblue;">{{ customer.email }}</td>
                    <td class="mdl-data-table__cell--non-numeric" style="color: cornflowerblue;">{{ customer.city }}</td>
                  </tr>
                {% endfor %}
             {% else %}
                <tr>
                  <td>
                    <p>No Customer found!</p>
                  </td>
                </tr>
             {% endif %}
         </tbody>
       </table>
    </div>
  </section>

  <script>
    $(window).on("load resize ", function() {
      var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
      $('.tbl-header').css({'padding-right':scrollWidth});
    }).resize();
  </script>
        
{% endblock %}

